<div class="row">
  <div class='col-md-12'>
    <a ng-href='/user_tkw/jobs'>View all jobs</a>
  </div>

  <div class='col-md-6'>
    <h2><b>Edit job</b></h2>
    <div class='row'>
      <div class='col-md-6'>
        <input type='text' class="form-control" id='title-output' class='form-control' disabled>
      </div>
      <div class='col-md-6'>
        <select class="selectpicker form-control" ng-model='select'>
          <option ng-repeat='key in keys'>{{key}}</option>
        </select>
      </div>
    </div>
  </div>
</div>

<div class='row'>
  <div class='col-md-6'>
    Markdown<br>
    <textarea
    style="font-family:monospace;"
    id="text-input" oninput="this.editor.update()"
    rows='35' class='form-control' placeholder='Write the job'
    >##Write the **job** here.</textarea>

    <button type="button" class="btn btn-success" ng-click='saveJob()'>Save Job</button>
    <button type="button" class="btn btn-danger" ng-click='deleteJob()'>Delete Job</button>
  </div>

  <div class='col-md-6'>
    Preview<br>
    <div id='preview' class='form-control'>
      <div id="markout"></div>
    </div>
  </div>
</div>
