<div class="row">
  <div class='col-md-12'>
    <a ng-href='/user_tkw/jobs'>View all jobs</a>
    <button type='button' ng-click='deleteJob(job.id)' class='btn btn-danger'>Delete</button>
    <a type='button' ng-href='/user_tkw/jobs/{{job.id}}/edit' class='btn btn-warning'>Edit</a>

    <hr style="border: 1px solid #D9D9D9 ;" />

    <div class="job_description">
      <div id="markout"> </div>
    </div>
  </div>
</div>

<hr style="border: 1px solid #D9D9D9 ;" />

<div class="row">
  <div class='col-md-4'>
    <form>
      <h2> Add candidate for this job </h2>

      <div class='form-group'>
        <label class='control-label'>Name</label>
        <input type='text' class='form-control' placeholder="Name" ng-model='candidate.full_name' required>
      </div>

      <div class='form-group'>
        <label class='control-label'>Email</label>
        <input type='email' class='form-control' placeholder="Email" ng-model='candidate.email' required>
      </div>

      <div class='form-group'>
        <label lass='control-label'>Phone Number</label>
        <input type='text'class='form-control' placeholder="Phone Number" ng-model='candidate.phone_number' required>
      </div>

      <div class='form-group'>
        <label lass='control-label'>Source</label>
        <input type='text'class='form-control' placeholder="Source" ng-model='candidate.source' required>
      </div>

      <div class='form-group'>
        <button type='submit' class='btn btn-success btn-block' ng-click='createCandidate()'>Add candidate</button>
      </div>
    </form>
  </div>

  <div class='col-md-8'>

    <table class='table table-striped'>
      <caption><h2>List with candidates for this job</h2></caption>
      <tr align='center'>
        <td><b>Name</b></td>
        <td><b>Email</b></td>
        <td><b>Phone Number</b></td>
        <td><b>Source</b></td>
        <td><b>Interviews</b></td>
        <td>#</td>
      </tr>
      <tr align='center' ng-repeat='candidate in candidates'>
        <td><a ng-href='/user_tkw/jobs/{{job.id}}/candidates/{{candidate.id}}'>{{candidate.full_name}}</a></td>
        <td>{{candidate.email}}</td>
        <td>{{candidate.phone_number}}</td>
        <td>{{candidate.source}}</td>
        <td>{{candidate.number_of_interviews}}</td>
        <td>
          <div class="dropup">
            <span class="glyphicon glyphicon-menu-up" id="dropdownMenuCandidates" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            </span>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuCandidates">
              <li><a href="" ng-click='deleteCandidate(candidate.id)'>Delete</a></li>
              <li><a href="/user_tkw/jobs/{{job.id}}/candidates/{{candidate.id}}/edit">Edit</a></li>
            </ul>
          </div>
        </td>
      </tr>
    </table>
    <div class='back-box'>
      <a href='https://www.google.ro'>
        <span class="glyphicon glyphicon-triangle-left"></span>
        Back to all jobs
      </a>
    </div>

  </div>
</div>
