<div class='row'>
  <div  class="col-md-12">
    <h2><b>JOBS</b></h2>
  </div>
</div>

<div class='row'>
  <div class='col-md-12'>
    <a type='button' ng-href='/user_tkw/jobs/new' class='btn btn-success pull-right'>Create new job</a>
  </div>
</div>

<div class="row">
  <div  class="col-md-12">
    <table class='table table-striped'>
      <tr align='center'>
        <td>Id</td>
        <td>Title</td>
        <td>Status</td>
        <td>Candidates</td>
        <td>Candidates without interviews</td>
        <td>Options</td>
      </tr>
      <tr align='center' ng-repeat='job in jobs'>
        <td><a ng-href='/user_tkw/jobs/{{job.id}}'>{{job.id}}</a></td>
        <td><a ng-href='/user_tkw/jobs/{{job.id}}'>{{job.title}}</a></td>
        <td>{{status[job.status]}}</td>
        <td>{{job.candidates_count}}</td>
        <td>{{job.candidates_without_interview}}</td>
        <td>
          <div class="dropup">
            <span class="glyphicon glyphicon-cog" id="dropdownMenuJobs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            </span>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuJobs">
              <li><a href="" ng-click='deleteJob(job.id)'><span class='glyphicon glyphicon-trash'> Delete</span></a></li>
              <li><a href="/user_tkw/jobs/{{job.id}}/edit"><span class='glyphicon glyphicon-wrench'> Edit</span></a></li>
            </ul>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
