<div class='row'>
  <div  class="col-md-12">
    <h2><b>JOBS</b></h2>
  </div>
</div>
<div class='row'>
  <div class='col-md-12'>
    <a type='button' ng-href='/user_tkw/jobs/new' class='btn btn-success pull-right'>Create new job</a>
  </div>
</div>
<div class="row">
  <div  class="col-md-12">
    <table class='table table-striped'>
      <tr align='center'>
        <td>Id</td>
        <td>Title</td>
        <td>Options</td>
      </tr>
      <tr align='center' ng-repeat='job in jobs'>
        <td><a ng-href='/user_tkw/jobs/{{job.id}}'>{{job.id}}</a></td>
        <td><a ng-href='/user_tkw/jobs/{{job.id}}'>{{job.title}}</a></td>
        <td>
          <button type='button' ng-click='delete_job(job.id)' class='btn btn-danger '> Delete </button>
          <a class='btn btn-warning' ng-href='/user_tkw/jobs/{{job.id}}/edit'>Edit</a>
        </td>
      </tr>
    </table>
  </div>
</div>
