.list-jobs { cursor: pointer; }

.job_description {
  text-align: justify;
}

#preview {
  height: 680px;
  width: auto;
  display: block;
  overflow: auto;
}

.back-box{
  padding: 10px 0px;
  position: relative;
}

.back-box a{
  color: black;
}

.back-box a:hover {
  text-decoration: none;
  color: black;
}

.back-box span.glyphicon-triangle-left{
  position: relative;
  color: #eb3062;
  display: inline-block;
  right: 0px;
  -webkit-transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
       -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
}

.back-box a:hover span.glyphicon-triangle-left{
  right: 10px;
}

li.job{
  padding-left: 0px;
  padding-right: 0px;
  position: relative;
  border: none;
}

li .view-box{
  color: black;
}

li .view-box a b{
  color: black;
}

.view-box a:hover{
  text-decoration: none;
  color: black;
}

.view-box span.glyphicon-triangle-right{
  position: relative;
  color: #eb3062;
  display: inline-block;
  left: 0px;
  -webkit-transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
       -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
}

li:hover span.glyphicon-triangle-right{
  left: 10px;
}

li .view-box span .colored{
  color: #686868;
}


.btn-tkw {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  color: #fff;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  background-color: #eb3062;
  border-color: #eb3062; }

.btn-tkw:focus,
.btn-tkw.focus {
  color: #fff;
  background-color: #e91950;
  border-color: #e91950; }

.btn-tkw:hover {
  color: #fff;
  background-color: #e91950;
  border-color: #e91950; }

.btn-tkw:active:hover,
.btn-tkw.active:hover,
.open > .dropdown-toggle.btn-tkw:hover,
.btn-tkw:active:focus,
.btn-tkw.active:focus,
.open > .dropdown-toggle.btn-tkw:focus,
.btn-tkw:active.focus,
.btn-tkw.active.focus,
.open > .dropdown-toggle.btn-tkw.focus {
  color: #fff;
  background-color: #d41448;
  border-color: #d41448; }

.btn-tkw:active,
.btn-tkw.active,
.open > .dropdown-toggle.btn-tkw {
  background-image: none; }

.btn-tkw.disabled,
.btn-tkw[disabled],
fieldset[disabled] .btn-tkw,
.btn-tkw.disabled:hover,
.btn-tkw[disabled]:hover,
fieldset[disabled] .btn-tkw:hover,
.btn-tkw.disabled:focus,
.btn-tkw[disabled]:focus,
fieldset[disabled] .btn-tkw:focus,
.btn-tkw.disabled.focus,
.btn-tkw[disabled].focus,
fieldset[disabled] .btn-tkw.focus,
.btn-tkw.disabled:active,
.btn-tkw[disabled]:active,
fieldset[disabled] .btn-tkw:active,
.btn-tkw.disabled.active,
.btn-tkw[disabled].active,
fieldset[disabled] .btn-tkw.active {
  background-color: #fff;
  border-color: #ccc; }

.btn-tkw .badge {
  color: #eb3062;
  background-color: #fff; }

.btn-tkw:active .badge {
  color: #d41448;
  background-color: #fff; }

/* HEADER >>>>>> */
header {
  width: 100%;
  z-index: 99;
  padding-bottom: 60px;  }

header.open {
  width: 100%;
  z-index: 1501;
  position: fixed;
  background: transparent; }

header.open .sticky-nav {
  background: transparent; }

header.open #logo {
  display: none; }

header.open .sticky-nav {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

header .sticky-nav {
  position: fixed;
  padding-bottom: 60px;
  width: 100%;
  height: 60px;
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
  z-index: 1001;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25); }

header .sticky-nav.stuck {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001; }

header #logo {
  color: #fff;
  float: left;
  padding: 9px 0;
  margin-left: 20px; }

header #logo a {
  width: 219px;
  height: 42px;
  background: url("../img/logo.png");
  text-indent: -9999px;
  display: block;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: opacity 0.25s ease-in-out 0s;
  -moz-transition: opacity 0.25s ease-in-out 0s;
  -o-transition: opacity 0.25s ease-in-out 0s;
  transition: opacity 0.25s ease-in-out 0s; }

header #logo a:hover {
  opacity: 0.65;
  filter: alpha(opacity=65); }

nav#menu {
  display: none;
  z-index: 1500;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(66, 70, 79, 0.7);
  -webkit-transition: all 0.25s ease-in-out 0s;
  -moz-transition: all 0.25s ease-in-out 0s;
  -o-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s; }

nav#menu.open {
  display: table; }

nav#menu #menu-nav {
  margin: 0;
  padding: 0;
  display: table-cell;
  vertical-align: middle; }

nav#menu #menu-nav li {
  list-style: none;
  cursor: pointer;
  display: block;
  text-align: center; }

nav#menu #menu-nav li.logged {
  display: none;}

nav#menu #menu-nav li.no-logged {
  display: none;}

nav#menu #menu-nav li.logged.open {
  list-style: none;
  cursor: pointer;
  display: block;
  text-align: center; }

nav#menu #menu-nav li.no-logged.open {
  list-style: none;
  cursor: pointer;
  display: block;
  text-align: center; }

nav#menu #menu-nav li.current:hover,
nav#menu #menu-nav li:hover {
  background-color: #eb3062; }

nav#menu #menu-nav li a {
  color: #fff;
  font-size: 36px;
  font-weight: 600;
  line-height: 80px;
  display: block;
  text-transform: uppercase; }

nav#menu #menu-nav li.current a,
nav#menu #menu-nav li a:hover {
  color: #fff; }

nav#menu #menu-nav span {
  list-style: none;
  display: block;
  text-align: center;
  color: #000;
  text-decoration: underline;
  font-size: 36px;
  font-weight: 600;
  line-height: 80px;
  display: block;
  text-transform: uppercase;}

#mobile-nav {
  display: block;
  float: right;
  padding: 22px; }

.menu-nav i {
  background: url('../img/menu-mobile.png') 0 0 no-repeat;
  width: 16px;
  height: 16px;
  display: block;
  margin: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: -webkit-transform 250ms ease-out 0s;
  -moz-transition: -moz-transform 250ms ease-out 0s;
  -o-transition: -o-transform 250ms ease-out 0s;
  transition: transform 250ms ease-out 0s; }

.menu-nav.open i {
  background-position: 0 -16px;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
  -webkit-transition: -webkit-transform 250ms ease-out 0s;
  -moz-transition: -moz-transform 250ms ease-out 0s;
  -o-transition: -o-transform 250ms ease-out 0s;
  transition: transform 250ms ease-out 0s; }

#navigation-mobile {
  display: none;
  text-align: right;
  width: 100%;
  background: #111111;
  border-bottom: 1px solid #2F3238;
  position: relative;
  float: left;
  z-index: 9999; }

#navigation-mobile li {
  list-style: none;
  padding: 0 20px;
  border-top: 1px solid #2F3238; }

#navigation-mobile li a {
  display: block;
  font-size: 16px;
  text-transform: uppercase;
  padding: 20px 0; }
