<div class="row">
  <div class='col-md-8'>
    <a href='#'> Back to all jobs </a>
    <br><br>
    <b>Posted at {{job.created_at}}</b>
    <br><br>

    <div id="markout"> </div>

  </div>
  <div class='col-md-4' align='center'>
    <br>
    {{test}}

    <input type="file" fileread="vm.uploadme" id='inputfile'/>
    <button ng-click='attach_file()' class='btn btn-default' type='button' >Test</button>
    <table class="table table-condensed">
      <caption align='center'> List of attachments </caption>
      <tr>
        <th>Status</th>
        <th>Download Link</th>
      </tr>

      <tr ng-repeat='attachment in attachments'>
        <td>{{attachment.status}}</td>
        <td><a href="{{attachment.file.file.url}}" download>download</a></td>
      </tr>
    </table>

  </div>
</div>
