<img id="imageid" src="" alt="" ng-click='change_image()'  width="100%" height="auto"/>
<div class='row'>
  <div  class="col-md-12">
    <h2><b>JOBS</b></h2>
  </div>
</div>

<div class="row">
  <div  class="col-md-12">
    <ul class="list-group" >
      <li class="list-group-item ul list-jobs" ng-repeat="job in jobs" ng-click="goTo(job)">
        <a ng-href="/jobs/{{job.id}}">
          <b>{{job.title}}</b>
        </a>
        <span class='pull-right'>
          {{posted(job.posted_at)}}
        </span>
      </li>
    </ul>
  </div>
</div>
