<img id="imageid" ng-click='changeImage()' width="100%" height="auto"/>
</br></br>

<div class='row'>
  <div  class="col-md-12">
    <h2><b>JOBS</b></h2>
  </div>
</div>

<div class="row">
  <div  class="col-md-12">
    <ul class="list-group" >
      <li class="list-group-item ul list-jobs job" ng-repeat="job in jobs" ng-click="goTo(job)">
        <div class='view-box'>
          <a ng-href="/jobs/{{job.id}}">
            <b> {{job.title}} </b>
            <span class="glyphicon glyphicon-triangle-right"></span>
          </a>
          <span class='pull-right'>
            <div class='colored'>
              {{posted(job.posted_at)}}
            </div>
          </span>
        </div>
      </li>
    </ul>
  </div>
</div>
