<div class="container">
  <div class="row">

    <div class='col-md-6'>
      <h2><b>Create new job</b></h2>

      <input type="input" ng-model="job.title" class='form-control' />
      Markdown<br>
      <textarea id="text-input" oninput="this.editor.update()"
              rows='35' class='form-control'>##Write the **job** here.</textarea>
              <a href='#new_job' type="button" class="btn btn-success span">Create job!!! </a>
    </div>

    <div class='col-md-6'>
      Preview<br>
      <h1>{{job.title}}
      <div id="markout"> </div>
    </div>

  </div>
</div>
