<div id="markout"> </div>

<script src="/bower_components/markdown-js/lib/markdown.js"></script>
<script>
(function() {
  function Editor(input, preview) {
    this.update = function () {
      preview.innerHTML = markdown.toHTML(input.value);
    };
    input.editor = this;
    this.update();
  }
  var $ = function (id) { return document.getElementById(id); };
  $("job_description").oninput = function () {
    this.editor.update();
  }
  new Editor($("job_description"), $("markout"));
})();
</script>
