<div class='row'>
  <div class='col-md-12'>
    <h1> Interview  </h1>
    <h2>
      Candidate: <a ng-href='/user_tkw/jobs/{{job.id}}/candidates/{{candidate.id}}'>
        {{candidate.full_name}}
      </a> <br>
      Job: <a href='/user_tkw/jobs/{{job.id}}'>
        {{job.title}}
      </a><br>
      Date & Time: {{interview.date}} at {{interview.time}}
    </h2>
  </div>
</div>

<br><br><br>

<div class='row'>
  <div class='col-md-12'>
    <h2>Comments:</h2>
    <div class='form-group' ng-repeat='interview in interviews'>
      <hr style="border: 1px solid #D9D9D9 ;" />
      <h4> {{interview.user_id}}: </h4>
      <span>
        {{interview.body}}
      </span>
    </div>
    <hr style="border: 1px solid #D9D9D9 ;" />
  </div>
  <div class='col-md-12'>
    <h3> Comment </h3>
    <textarea rows='6' class='form-control' ng-model='comment_text'
    placeholder="Write a comment. You can write in format markdown"></textarea><br>
    <button type='button' class='btn btn-default' ng-click='create_comment()'> Send </button>
  </div>
</div>
