<div class='row'>
  <div class='col-md-4'></div>
  <div class='col-md-4'>
    <br><br><br>
    <br><br><br>
    <br><br><br>
    <form data-toggle="validator" role="form">

      <div class='form-group form-group-lg'>
        <label class="control-label">Email</label>
        <input type="email" class="form-control" ng-model='user.email' placeholder="Email" data-error="Bruh, that email address is invalid" required/>
        <div class="help-block with-errors"></div>
      </div>

      <div class='form-group form-group-lg'>
        <label class="control-label">Password</label>
        <input type="password" class="form-control" ng-model='user.password' placeholder="Password" required/>
      </div>

      <div class='form-group'>
        <button type="submit" class="btn btn-success btn-block btn-lg" ng-click='login()'>Login</button> <br>
      </div>

      <p align='center'>{{message}}</p>
    </form>
  </div>
</div>
